<!--
  This template loads for the 'tab.cam' state (app.js)
-->
<ion-view title="Cam">
  <ion-content has-bouncing=true>

         
        <div class="list card">

  <div class="item item-avatar">
    <h2>Take the Picture</h2>
  </div>

  <div class="item item-image" ng-repeat="item in items" 
           >

          <img ng-src="{{ item.image }}">
        </div>
  




		 <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item calm " ng-click="next()" href="#">
      <i class="icon ion-arrow-up-a"></i>
      Upload
    </a>
    <a class="tab-item" ng-click="takePic()" href="#">
      <i class="icon ion-ios7-camera"></i>
    </a>
    <a class="tab-item assertive " ng-click="next()" href="#">
      <i class=" icon ion-close"></i>
      Share
    </a>
  </div>




</div>	
  </ion-content>
</ion-view>
