

<ion-tabs class="tabs-icon-top">


   <!-- Cam Tab -->
  <ion-tab title="Cam" icon="icon ion-camera" href="#/tab/cam">
    <ion-nav-view name="cam-tab">
    </ion-nav-view>
  </ion-tab>



  <!-- Record Tab -->
  <ion-tab title="Lists" icon="icon ion-navicon-round" href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>


  <!-- Record Tab -->
  <ion-tab title="Record" icon="icon ion-mic-a" href="#/tab/record">
    <ion-nav-view name="record-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
